<div class="todo">
    <div class="principal">
        <main>
            <div class="container contedor_in_out texto">
                <div class="caja_trasera" fxLayout="column" fxLayoutAlign="none">
                    <div class="">
                        <img src="assets/images/log_sin_letras.png" alt="log" class="logo_ico_2">
                        <br>
                        <img src="assets/images/ICEBERG.svg" alt="" class="logo_img">
                    </div>

                    <form class="formulario__login" [formGroup]="myForm" (ngSubmit)="submitFormulario()">
                        <h2 class="titulo_servicio">Recuperar contraseña</h2>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control inputRecuperar" formControlName="email"
                                id="email_forgot" [class.is-invalid]="f.email.errors && f.email.touched"
                                placeholder="name@example.com">
                            <label for="floatingInput" style="font-size: 14px;"> <i class="bi bi-envelope-fill"></i>
                                &nbsp;Ingrese su correo</label>
                            <div class="invalid-feedback">
                                Por favor ingrese un correo.
                            </div>
                        </div>
                        <button>Enviar Email</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>