<div class="todo">
    <div class="principal">
        <main>
            <div class="container contedor_in_out texto">
                <div class="caja_trasera" fxLayout="column" fxLayoutAlign="none">
                    <div class="">
                        <img src="assets/images/log_sin_letras.png" alt="log" class="logo_ico_2">
                        <br>
                        <img src="assets/images/ICEBERG.svg" alt="" class="logo_img">
                    </div>

                    <form class="formulario__login">
                        <h2 class="titulo_servicio">Recuperar contraseña</h2>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control inputRecuperar" id="email_forgot"
                                placeholder="name@example.com">
                            <label for="floatingInput" style="font-size: 14px;"> <i class="bi bi-envelope-fill"></i>
                                &nbsp;Ingrese su correo</label>
                            <p class="mt-2 d-none" id="pOcultoValidacion"
                                style="color: rgb(236, 35, 35); font-size: 14.5px;">Tu
                                correo electrónico debe ser: name@example.com</p>
                        </div>
                        <button>Enviar Email</button>
                        <div class="errorRecuperar"></div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>