<form action="" class="formulario__recuperar">
    <img src="assets/images/generic-logo.png" alt="logo-empresa" class="logo-empresa">
    <h2>Recuperar contraseña</h2>
    <div class="form-floating mb-1">
        <input type="email" class="form-control inputRecuperar" id="floatingInput"
            placeholder="name@example.com">
        <label for="floatingInput" style="font-size: 14px;"> <i class="bi bi-envelope-fill"></i>
            &nbsp;Ingrese su correo</label>
        <p class="mt-2 d-none" id="pOcultoValidacion"
            style="color: rgb(236, 35, 35); font-size: 14.5px;">Tu
            correo electrónico debe ser: name@example.com</p>
    </div>
    <button>Enviar Email</button>
    <div class="errorRecuperar"></div>
</form>