<div>
    <div class="tabla-container container">
        <div class="prueba">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="clase_filtro_btn">
                <div class="form-floating mb-3 input-search">
                    <input type="text" class="form-control" matInput (keyup)="applyFilter($event)" #input
                        placeholder="l">
                    <label for="floatingInput">Filtro</label>
                </div>
                <!-- <button type="button" class="btn btn-success" style="margin-bottom: 8px;" (click)="openDialog()">Agregar
                    Empleado</button> -->
            </div>
        </div>


        <section class="example-container" tabindex="0">
            <table mat-table [dataSource]="usuarios" matSort class="mat-elevation-z8 demo-table">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="texto"> ID </th>
                    <td mat-cell *matCellDef="let row" class="texto">{{row.iduser}}</td>
                </ng-container>
                F
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="texto"> Nombre </th>
                    <td mat-cell *matCellDef="let row" class="texto"> {{row.nombre }}</td>
                </ng-container>

                <!-- Usuario Column -->
                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="texto"> Usuario </th>
                    <td mat-cell *matCellDef="let row" class="texto">{{ row.usuario }}</td>
                </ng-container>

                <!-- Estado Column -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="texto" style="width: auto;"> Estado </th>
                    <td mat-cell *matCellDef="let row" class="texto" [ngSwitch]="row.estado"
                        [ngClass]="{'activo':row.estado === 1, 'unactivo':row.estado === 0, 'poractive':row.estado === 2}">
                        <span *ngSwitchCase="1">
                            ACTIVO
                        </span>
                        <span *ngSwitchCase="0">
                            INACTIVO
                        </span>
                        <span *ngSwitchCase="2">
                            POR ACTIVAR
                        </span>
                    </td>
                </ng-container>

                <!-- Fecha de registro Column -->
                <ng-container matColumnDef="fechareg">
                    <th mat-header-cell *matHeaderCellDef class="texto"> Fecha de registro </th>
                    <td mat-cell *matCellDef="let row" class="texto">{{ formatofecha(row.fecha_registro) }}</td>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="texto"> Acciones </th>
                    <td mat-cell *matCellDef="let row" class="texto">
                        <mat-icon matTooltip="Editar" fontIcon="edit" class="iconBtn edit"
                            *ngIf="usuarioSelect===row"></mat-icon>
                        <mat-icon matTooltip="Bloquear" class="iconBtn delete"
                            *ngIf="usuarioSelect===row  && row.estado === 1">lock</mat-icon>
                        <mat-icon matTooltip="Desbloquear" class="iconBtn unlock"
                            *ngIf="usuarioSelect===row  && row.estado === 0">lock_open</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (click)="usuarioSelect=row" [class.demo-row-is-clicked]="usuarioSelect===row"
                    *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- No se encontraron resultados para la consulta -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontraron resultados para: "{{input.value}}"</td>
                </tr>

            </table>
        </section>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <!-- @for (clickedRow of clickedRows; track clickedRow) {
          <li>Clicked on {{clickedRow.name}}</li>
        } -->
    <!-- <p *ngIf="empleadoSelect">Empleado: {{empleadoSelect.idempleado}}</p> -->
</div>