<br>
<div class="container">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Nombre</label>
                </div>
                <div class="col-auto">
                    <select class="form-select">
                        <option value="{{dato.idempleado}}" *ngFor="let dato of empleados">
                            {{dato.nombre}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <mat-card class="container">
        <mat-card-content>
            <form class="row g-3 needs-validation" [formGroup]="myForm" (ngSubmit)="submitFormulario()" validate>
                <div class="col-md-6 prueba">Fecha - hora de inicio</div>
                <div class="col-md-6 prueba">Fecha - hora de fin</div>
                <div class="col-md-3 prueba">
                    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                        formControlName="fecha_1" [bsConfig]="{ isAnimated: true }">
                </div>
                <div class="col-md-3 prueba">
                    <timepicker formControlName="hora_1" [showMeridian]="false"></timepicker>
                </div>
                <div class="col-md-3 prueba">
                    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                        formControlName="fecha_2" [bsConfig]="{ isAnimated: true }">
                </div>
                <div class="col-md-3 prueba">
                    <timepicker formControlName="hora_2" [showMeridian]="false"></timepicker>
                </div>

                <div class="col-12">
                    <!-- <pre class="alert alert-info">Time is: {{mytime}}</pre> -->
                    <pre class="alert alert-info">Time is: {{ myForm.get('fecha_1')?.value }}</pre>
                </div>
                <div class="col-12">
                    <!-- <pre class="alert alert-info">Time is: {{mytime}}</pre> -->
                    <pre class="alert alert-info">Time is: {{ myForm.get('hora_1')?.value }}</pre>
                </div>
                <!-- <div class="mb-3">
                    <label for="basic-url" class="form-label">Your vanity URL</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                        <input type="text" class="form-control" id="basic-url"
                            aria-describedby="basic-addon3 basic-addon4">
                    </div>
                    <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                </div> -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-danger me-md-2" type="button">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Actualizar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
</div>