<br>
<div class="container">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Nombre</label>
                </div>
                <div class="col-auto">
                    <select class="form-select">
                        <option value="{{dato.idempleado}}" *ngFor="let dato of empleados">
                            {{dato.nombre}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <mat-card class="container">
        <mat-card-content>
            <form class="row g-3 needs-validation" [formGroup]="myForm" (ngSubmit)="submitFormulario()" validate>
                <div class="col-md-12">Rango de Horario</div>
                <div class="col-12">
                    <input type="text" placeholder="Daterangepicker" class="form-control" [minDate]="minDate"
                        formControlName="fecha_1"
                        [bsConfig]="{withTimepicker: true, keepDatepickerOpened: true, rangeInputFormat : 'MMMM DD YYYY, h:mm:ss a', dateInputFormat: 'MMMM DD YYYY, h:mm:ss a', showWeekNumbers: false}"
                        bsDaterangepicker>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Datepicker" class="form-control"
                        [bsConfig]="{withTimepicker: true, keepDatepickerOpened: true, rangeInputFormat : 'MMMM DD YYYY, h:mm:ss a', dateInputFormat: 'MMMM DD YYYY, h:mm:ss a', showWeekNumbers: false}"
                        bsDatepicker>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Datepicker" class="form-control"
                        [bsConfig]="{withTimepicker: true, keepDatepickerOpened: true, rangeInputFormat : 'MMMM DD YYYY, h:mm:ss a', dateInputFormat: 'MMMM DD YYYY, h:mm:ss a', showWeekNumbers: false}"
                        bsDatepicker>
                </div>
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <input type="text" placeholder="Datepicker" class="form-control"
                        [bsConfig]="{withTimepicker: true, keepDatepickerOpened: true, rangeInputFormat : 'MMMM DD YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                        bsDatepicker>
                </div>
                <!-- <div class="col-12">
                    <pre class="alert alert-info">Time is: {{ myForm.get('fecha_1')?.value }}</pre>
                </div> -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-danger me-md-2" type="button">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Actualizar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
</div>