.prueba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
}

// .bs-daterangepicker-container {
//     max-width: 100%;
//     // transform: translate3d(10px) !important;
// }


// .custom-datepicker{
//     max-width: 100%;
//     transform: translate3d(10px) !important;
// }