.texto {
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_ico {
    max-width: 50px;
    filter: invert(100%) sepia(96%) saturate(18%) hue-rotate(297deg) brightness(105%) contrast(104%);
}

.logo_ico_2 {
    max-width: 100px;
    filter: invert(100%) sepia(96%) saturate(18%) hue-rotate(297deg) brightness(105%) contrast(104%);
}

.logo-empresa {
    // margin-top: 30px;
    width: 30%;
}

.todo {
    background-color: rgb(189, 218, 242);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    padding-top: 100px;
    margin: auto;
    background-size: cover;
}

/*Contenedor y formulario*/
.contedor_in_out {
    width: 100%;
    max-width: 850px;
    margin: auto;
    position: relative;
}

.caja_trasera {
    text-align: center;
    padding: 20px;
    align-items: center;
    max-width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(132, 167, 205);
    border-radius: 20px;
}

.caja_trasera form input {
    width: 100%;
    border: none;
    font-size: 14px;
    outline: none;
    background: white;
}

.caja_trasera form button {
    width: 100%;
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    background: rgb(55, 104, 167);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    // text-align: right;
    border-radius: 5px;
}

.caja_trasera form .invalid-feedback {
    text-align: left;
    color: #4b45ed;
}

.caja_trasera form .link_forgot {
    text-align: right;
}

.caja_trasera form .link_forgot a:hover {
    cursor: pointer;
}

.caja_trasera form a {
    text-decoration: none;
    color: #2d61aa;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__login h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.caja_trasera form button:hover {
    background: #fff;
    color: rgb(55, 104, 167);
}

.configuracion-boton-icon {
    border: none;
    background-color: transparent;
    font-size: 18px !important;
    color: black !important;
    margin-top: 0 !important;
    padding: 0px 10px !important;
    background: none !important;
}

mat-spinner {
    margin: auto;
}